
.colonne1_2div{
    display: flex;
}
.ordi_icon{
  width: 100px; 
  height: 100px; 
}
.logistique{
    display: flex;
    background-color: white;
    width: 50%;
    height: 25%;
}
.grh{
    display: flex;
    background-color: white;
    width: 50%;
    height: 25%;
}
.personne_icon{
    width: 100px; 
    height: 100px; 
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }

.log{
    width: 10px;
    height: 20px;
}

.img{
    width: 30px;
    height: 5px;
}
  
  
  
  .card{
    margin-top: 5px;
  }

  .class{
    display: flex;
  }
.l{
    width: 90px;
}


.image_1{
    height: 350px;
    width: 500px;
}
.image_2{
    height: 350px;
    width: 500px;
    
}
.image_3{
    height: 350px;
    width: 500px;
      
}
.image_4{
    height: 350px;
    width: 500px;
      
}
.image_5{
    height: 350px;
    width: 500px;
      
}
.image_6{
    height: 350px;
    width: 500px;
      
}

.de1{
    width: 350px;
    margin-right: 35px;
    margin-left: 105px;
    height: 400px;
    

}
.de2{
    width: 350px; 
    margin-left: 105px;
    margin-top: 10px;
    height: 400px;
    margin-bottom: 20px
    
}
.de3{
    width: 350px; 
    margin-left: 10px;
    margin-top: 10px;
    height: 350px;
    margin-bottom: 10px;
    margin-right: 35px
    
}
    
.de4{
    
    width: 350px; 
    margin-left: 10px;
    margin-top: 10px;
    height: 410px;
    margin-bottom: 10px
}
.de5{
    height: 230px;
    width: 350px; 
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px
}
.de6{
    height: 230px;
    width: 350px; 
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px
}
.de7{
    height: 230px;
    width: 350px; 
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px
}

